@import "tailwindcss";
@source "../../../packages/ui/src/**/*.tsx";

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-primary: #0D9488;   
  --color-brand-dark: #004357;      
  --color-brand-muted: #F8FAFC;     
  --color-brand-text: #334155;      
  --color-brand-accent: #0D9488;    
  --color-border: #E2E8F0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
