@import "tailwindcss";

@theme {
  --color-brand-black: #0B0B0B;
  --color-brand-offwhite: #FAFAFA;
  --color-brand-darkgray: #1E1E1E;
  --color-brand-lightgray: #E5E5E5;
  --color-brand-gold: #C9A24D;
  --color-brand-beige: #F4EDE4;

  --font-display: var(--font-playfair);
  --font-body: var(--font-inter);
  --font-brand: var(--font-cinzel);
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

/* Custom Base Styles */
@layer base {
  body {
    background-color: var(--color-brand-offwhite);
    color: var(--color-brand-black);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    font-weight: 500;
  }
}
